*{
	margin: 0;
	color: #fff;
    font-family: "Oswald", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

header{
    background:linear-gradient(90deg, rgba(173,112,31,0.31626417656906514) 0%, rgba(138,130,66,0) 51%, rgba(173,112,31,0.31626417656906514) 100%), url(fondoEnviosHeader.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.tituloEnvios{
    display: inline;
    font-size: 5em;
    text-align: center;
    margin-top: 50px;
    text-shadow: #000 2px 3px 2px;
}

.urlEntregaIcon{
    border-radius: 200px 200px 200px 200px;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.75);
}

.entregaIcon{
    pointer-events: none;
}

.botonCompra {
	box-shadow: 1px 2px 10px -1px #000000;
	background-color:#ffffff;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:22px;
	padding:14px 71px;
	text-decoration:none;
	text-shadow:0px 1px 0px #376580;
    margin-top: 3%;
}
.botonCompra:hover {
	background-color:#ffc400;
}
.botonCompra:active {
	position:relative;
	top:1px;
}

.tiposEnvios{
    height: 1000px;
    width: 100%;
}






@media screen and (max-width: 774px){
	.urlEntregaIcon{
		top: 20px;
		position: absolute;
	}

	.tituloEnvios{
		font-size: 2em;
	}

	.botonCompra{
		position: absolute;
		bottom: 10px;
		padding:7px 35px;
		margin-top: 55px;
	}
}






